<configuration>
	<database>
		<Name>dbcrawlermerlot</Name>
		<User>root</User>
		<Pass>1234</Pass>
	</database>
	<usersList>
		<userID>998144</userID>
		<userID>32944</userID>
		<userID>1080580</userID>
		<userID>1080766</userID>
		<userID>1081216</userID>
		<userID>1081305</userID>
		<userID>1081281</userID>
		<userID>1081380</userID>
		<userID>1081303</userID>
		<userID>1039998</userID>
		<userID>1077958</userID>
		<userID>1077739</userID>
		<userID>1078464</userID>
		<userID>1077791</userID>
		<userID>1082477</userID>
		<userID>1082471</userID>
		<userID>1082496</userID>
		<userID>1080921</userID>
		<userID>1077620</userID>
		<userID>1080268</userID>
		<userID>1082883</userID>
		<userID>1082899</userID>
		<userID>1082813</userID>
		<userID>443451</userID>
		<userID>1082928</userID>
		<userID>1083433</userID>
		<userID>1055803</userID>
		<userID>1086238</userID>
		<userID>1080270</userID>
		<userID>1080298</userID>
		
	</usersList>
</configuration>